.button-item {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: rgba(0,0,0,1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &_is-remove {
    background: rgba(100, 46, 46, 0.8);

    &:hover {
      background: rgba(65, 30, 30, 0.8);

    }
  }
}
