.employee-box {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 500px;
  background: #fff;
  display: none;
}

.employee-box_is-active {
  animation: show 1s;
  display: block;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
