.employee-box {
  width: 500px;
  background: #fff;
  display: none;
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
}

.employee-box_is-active {
  animation: show 1s;
  display: block;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
