.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_is-inline {
    flex-direction: initial;
    align-items: center;

    .form-item__label {
      margin-right: 10px;
    }
  }
}

.form-item__label {
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  margin-bottom: 10px;
}

.form-item__name {
  font-size: 12px;
}

.form-item__input {
  flex: auto;
}
