.item-mask {
  display: flex;
  height: 6px;
  margin: 5px;
  background-color: #CCC;
  animation-name: shine;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine {
    from {transition:none;}
    to {background-color:#f6f7f8;transition: all 0.3s ease-out;}
}