/* You can add global styles to this file, and also import other style files */
@import "mixins/global";
@import "reset";
@import "table";
@import "globals";
@import "employee-box";
@import "form-item";
@import "input-item";
@import "button-item";
@import "employee-item";
@import "form";
@import "title";


body, html {
    height: 100%;
}

.ngx-datepicker-container[_ngcontent-c4] .ngx-datepicker-input[_ngcontent-c4] {
    width: 100% !important;;
    border: 1px solid #b2b2b2 !important;
    height: 35px;
  }