$table--item-width: 300px;
$table--item-padding: 10px;
$table--width: $table--item-width * 3;
$table--border-color: #e6e9ee;

.table {
  display: flex;
  flex-direction: column;
  width: $table--width;
  border: 1px solid $table--border-color;
}

.table__head {
  display: flex;
  background: #717C95;
  color: #fff;
}

.table__head-item {
  width: $table--item-width;
  padding: $table--item-padding;
  border-right: 1px solid $table--border-color;
  text-transform: uppercase;
  &:last-child {
    border-right: 0px;
  }
}

.table__column{
  display: flex;
  position: relative;
  background: #e6e9ee;
  color: #333;

  &:nth-child(2n) {
    background: #fff;
  }
}

.table__column-item {
  width: $table--item-width;
  padding: $table--item-padding;
  border-right: 1px solid $table--border-color;
  &:last-child {
    border-right: 0px;
  }
}
