.benefits {

}

.benefits__title {
    margin-bottom: 20px;
}

.benefits__content {
    display: flex;
    margin-bottom: 20px;
}

.benefits__available {
    border: 1px solid #d6d6d6;
    margin-right: 20px;
    height: 200px;
    flex: 0.5;
}

.benefits__assigned {
    border: 1px solid #d6d6d6;
    flex: 0.5;
    height: 200px;
}


.benefits__item {
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #e6e9ee;
    }
}
