.summary {

}

.summary__title {
    margin-bottom: 20px;
}

.summary__section {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.summary__section-title {
    color: #5fbbe7;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.summary__section-content {
    display: flex;
    flex-direction: column;
}

.summary__item {
    margin-bottom: 10px;
}