.nav {

}

.nav__links {
  display: flex;
  flex-direction: column;
}

.nav__item {
  width: 200px;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #303030;
  }

  &_is-active {
    background-color: #424242;
  }
}

.nav__content {
  margin-top: 100px;
}

.nav__link {
  color: #92959E;
  font-size: 18px;
}

