.new-employee {

}

.new-employee__item {
  margin-bottom: 20px;
}

.new-employee__title {
  margin-bottom: 20px;
  font-size: 18px;
}

.new-employee__section {
  display: flex;
  flex-direction: column;
}
