.new-employee {

}

.new-employee__item {
  margin-bottom: 20px;
  width: 100%;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }

  &_is-fixed {
    width: 200px;
  }
}

.new-employee__title {
  margin-bottom: 20px;
  font-size: 18px;
}

.new-employee__section {
  display: flex;
  margin-bottom: 10px;
}


