.pager {
    display: flex;
    flex-direction: column;
}

.pager__content {
    margin-bottom: 20px;
}

.pager__controls {
    display: flex;
}

.pager__control {
    margin-right: 10px;
    width: 100px;
}

.elist-item {
    display: flex;
}
