@import "~sass/mixins/global";

.app {
  height: 100%;
}

.app__container {
  @include container;
  height: 100%;
}

.app__header {
  height: 100px;
  display: flex;
  align-items: center;
}

.app__title {

}

.app__content {

}
