.dependents {

}

.dependents__title {
    margin-bottom: 20px;
}

.dependents__button {
    width: 100px;
    margin-bottom: 20px;
}

.dependents__list {
    max-height: 400px;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px 5px;
    border: 1px solid #d6d6d6;
    overflow-y: auto;
}

.dependents__item {
    margin-bottom: 10px;
}